body{
    background-image: url('dark-grey-terrazzo.png');
    background-size: 35%;
    margin-bottom: 50px;

}

nav{
    background-color: rosybrown;
    font-weight: bolder;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    max-width: 800px;
    background-color: rgb(167,167, 167);
    padding: 25px;
    border-style: solid;
    border-color: linen;
    border-width: 5px;
}

main img {
    float: left;
    margin-right: 20px;
}

main h1 {
    padding-left: 10px;
    border-style: solid;
    color: black;
    background-color: rosybrown;
}

main section a {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: auto;
}

main section img{
    height: 350px;
    width: 350px;
}

main section article a{
    margin: 0;
}
main section article img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
main .btn {
    background-color: rosybrown;
    border-color: black;
    color: black;
}

main .btn:hover{
    background-color: black;
    color: rosybrown;
    border-color: rosybrown;
}

footer{
    text-align: center;
    position: fixed;
    height: 50px;
    background-color: rosybrown;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 500px;
        margin-left: 75px;
    }
    main section img {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    main section img {
        width: 125px;
        height: 125px;
    }

    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    main section a{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    main section img {
        width: 150px;
        height: 150px;
    }
}
