body{
    background-image: url('dark-grey-terrazzo.png');
    background-size: 35%;
    margin-bottom: 50px;

}

nav{
    background-color: rosybrown;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bolder;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
}

.container {
    margin: 50px auto 0 auto;
    max-width: 800px;
    background-color: rgb(167,167, 167);
    padding: 25px;
    border-style: solid;
    border-color: linen;
    border-width: 5px;
    border-radius: 1rem 0 1rem 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
article{
    padding-bottom: 1rem;
}

main img {
    float: left;
    margin-right: 20px;
}

main h2 {
    padding-left: 10px;
    border-style: solid;
    /* color: black; */
    background-color: rosybrown;
    font-family: "M PLUS Rounded 1c", sans-serif;
    border-radius: 1rem 0 1rem 0;
}

.imageHov {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: auto;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 50%;
}

.imageHov:hover{
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}

main section img{
    height: 350px;
    width: auto;
}

main section article a{
    margin: 0;
}
main section article img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
main .btn {
    background-color: rosybrown;
    border-color: black;
    color: black;
}

main .btn:hover{
    background-color: black;
    color: rosybrown;
    border-color: rosybrown;
}

#modalImg{
    height: auto;
    width: 315px;
}

.modal-content{
    border-radius: 1rem 0 1rem 0;
    border-style: solid;
    border-color: linen;
    border-width: 5px;
}
.modal-header{
    background-color: rosybrown;
    border-bottom: black;
    border-radius: 11px 0 0 0;
}
.modal-body{
    background-image: url('dark-grey-terrazzo.png');
    background-size: 65%;
}
.modal-footer{
    background-color: rgb(167,167, 167);
    border-top: black;
    border-radius: 0 0 11px 0;
}

footer{
    text-align: center;
    position: fixed;
    height: 50px;
    background-color: rosybrown;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 500px;
        /* margin-left: 75px; */
    }
    .imageHov {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    main section img {
        height: 200px;
        width: auto;
    }

    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 350px;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .imageHov {
        width: 125px;
        height: 125px;
    }
    main section img {
        height: 125px;
        width: auto;
    }
    h2 {
        font-size: 22px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 300px;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .imageHov{
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        margin-bottom: 25px;
    }
    main section img {
        width: auto;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    main h2 {
        font-size: 20px;
        border-radius: 5px 0 5px 0;
    }
}
